.rightbarFollowing {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  margin-right: 8px;
  cursor: pointer;
}

.rightbarFollowingImg {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 5px;
}

.rightbarFollowingName {
  width: 100px;
}
